<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oauth2-fa-proxy</title>
    <style>
        .btn{
    cursor: pointer;
    display: inline-block;
    text-align: center;
    font-size: 1.2rem;
    background-color: #f1c75c;
    width: 400px;
    height: 30px;
    margin: auto 0;
    border-radius: 5px;
    border: none;
    color: black;

}
    </style>
</head>
<body>
     <h1>Welcome to Node Server 2</h1>
    <a class="btn" href='http://localhost:3002/oauth2/callback'>Sign In with FusionAuth</a>
</body>
</html>